:root {
  --clr-primary-100: #131313;
  --clr-primary-200: #171717;
  --clr-primary-300: #2E2E2E;
  --clr-primary-400: #FFFFFF;
  --clr-primary-410: #ffffff88;
  --clr-primary-500: #E50914;

  --ff-primary: 'Source Sans Pro', sans-serif;

  --ff-body: var(--ff-primary);

  --fw-400: 400;

  --fs-200: .75rem;
  --fs-300: .875rem;
  --fs-400: 1rem;
  --fs-600: 1.875rem;


  --size-400: 1rem;
  --size-420: 1.125rem;
  --size-440: 1.25rem;
  --size-460: 1.5rem;
  --size-480: 1.8175rem;

  --size-500: 3rem;
  --size-520: 3.125rem;

  --size-600: 4.6875rem;
  --size-610: 4.6rem;
  --size-620: 4.6875rem;

  --size-710: 6.125rem;
  --size-720: 6.1875rem;

  --size-800: 7.625rem;
  --size-810: 7.625rem;
  --size-820: 7.625rem;
}

/* additional reset */

h1,
* {
  margin: 0;
  padding: 0;
}

/* general styling */

html,
body {
  min-height: 100vh;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-300);
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-400)
}

@media (min-width: 50rem) {
  body {
    font-size: var(--fs-400);
  }
}

.main-nav {
  width: 100vw;
  height: var(--size-600);
  background-color: var(--clr-primary-100);
}

.primary-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90rem;
  height: var(--size-600);
}

@media (min-width: 50rem) {
  .primary-wrapper {
    
  }
}

@media (min-width: 90rem) {
  .primary-wrapper {
    margin-inline: auto;
  }
}

.menu {
  visibility: hidden;
  left: var(--size-400);
  color: var(--clr-primary-410);
}

@media (min-width: 50rem) {
  .menu {
    visibility: visible;
    position: absolute;
    left: var(--size-500);
    display: flex;
    gap: 3.125rem;
    line-height: var(--size-600);
  }
}

@media (min-width: 90rem) {
  .menu {
    left: var(--size-720);
  }
}

.menu div:hover {
  box-shadow: 0 -0.25rem 0 0 var(--clr-primary-500) inset;
  color: var(--clr-primary-400);
}

.logo {
  width: 8.125rem;
  height: 2.1875rem;
  background-image: url('images/nerdflix-logo.png');
  background-size: 8.125rem 2.1875rem;
}

.rating {
  position: absolute;
  top: var(--size-480);
  right: var(--size-520);
  display: flex;
  align-items: baseline;
}

/* @media (min-width: 50rem) {
  .rating {
    right: var(--size-720);
  }
} */

@media (min-width: 50rem) {
  .rating {
    right: var(--size-720);
  }
}

.rating .star {
  width: 1.125rem;
  height: 1.125rem;
  background-image: url('images/Star.png');
  background-size: 1.125rem 1.125rem;
  margin-right: 0.3125rem
}

.secondary-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: var(--size-800);
  background-color: var(--clr-primary-200);
}

@media (min-width: 90rem) {
  .chapter {
    width: 90rem;
  }
}

h1 {
  line-height: 6.125rem;
  font-weight: var(--fw-400);
  font-size: var(--fs-600);
  
}

@media (min-width: 90rem) {
  h1 {
    margin-inline: var(--size-720) auto;
  }
}

.section-nav {
  /* temporary */
  /* height: 1rem;  */

  position: relative;
  margin-inline: var(--size-720);
}

@media (min-width: 90rem) {
  .section-nav {
    width: 90rem;
    margin-inline: auto;
  }
}

.tertiary-wrapper {
  position: absolute;
  top: -2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 90rem) {
  .tertiary-wrapper {
    bottom: calc(-1 * var(--size-460));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-inline: auto;
  }
}

.search {
  height: var(--size-500);
  width: 100%;
  
  background: var(--clr-primary-100);
  border: .0625rem solid var(--clr-primary-300);
  border-radius: .375rem;
  padding-left: 1.25rem;
  color: var(--clr-primary-400);
  outline: none;
}

@media (min-width: 50rem) {
  .search {
    width: 15rem;
  }
}

@media (min-width: 90rem) {
  .search {
    width: 24.625rem;
    margin-left: var(--size-720);
  }
}

.search-icon {
  position: absolute;
  left: 14rem;
  bottom: var(--size-400);
  width: var(--size-440);
  height: var(--size-440);
  background-image: url('images/Shape.png');
  background-size: var(--size-440) var(--size-440);
}

@media (min-width: 90rem) {
  .search-icon {
    left: 23rem;
    margin-left: var(--size-720);
  }
}

.sort {
  min-width: 19rem;
}

@media (min-width: 50rem) {
  .sort {
    margin-left: var(--size-400);
  }
}

@media (min-width: 90rem) {
  .sort {
    margin-right: var(--size-720);

  }
}

.sort p {
  color: var(--clr-primary-410);
  margin-bottom: 0.5625rem;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.sort-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9.4375rem;
  height: var(--size-500);
  text-align: left;
  background-color: var(--clr-primary-100);
  border: .0625rem solid var(--clr-primary-300);
  border-radius: .375rem;
  color: var(--clr-primary-400);
  padding-inline: var(--size-440);
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .sort-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-content li {
  display: block;
  width: auto;
  height: var(--size-500);
  line-height: var(--size-500);
  border: .0625rem solid var(--clr-primary-300);
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-400);
  text-decoration: none;
  padding-left: var(--size-440);
}

.dropdown-content li:last-child {
  border-bottom-left-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.arrows {
  width: .5rem;
  height: .875rem;
  background-image: url('images/arrows.png');
  background-size: .5rem .875rem;
}

.main-section {
  margin-inline: var(--size-400);
}

@media (min-width: 50rem) {
  .main-section {
    margin-inline: var(--size-500);
  }
}

@media (min-width: 80rem) {
  .main-section {
    margin-inline: var(--size-720);
  }
}

.movies-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80rem;
  gap: 1.875rem;
  margin: var(--size-720) auto;
}

.single-movie {
  margin-bottom: 2rem;
}

.movie-image {
  position: relative;
  width: 11.375rem;
  height: 16.75rem;
  border-radius: .375rem;
}
.movie-image:hover {
  cursor: pointer;
  backdrop-filter: blur(2.46496px)
}

.movie-rating {
  visibility: hidden;
  position: absolute;
  top: var(--size-400);
  right: var(--size-400);
  width: 1.125rem;
  height: 1.125rem;
  background-image: url('images/Like.png');
  background-size: 1.125rem 1.125rem;
  margin-right: 0.3125rem
}

.movie-image:hover .movie-rating {
  visibility: visible;
}

.movie-description {
  max-width: 10.125rem;
  margin-inline: .625rem;
  margin-top: var(--size-400);
  font-size: var(--fs-200);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-year {
  color: var(--clr-primary-410);
  margin-top: 0.5rem;
}